@import "tailwindcss";
@plugin "daisyui" {
  themes: lofi --default;
}

h2,
h3,
h4,
h6 {
  @apply font-bold;
}
h5 {
  @apply font-bold;
}
h1 {
  @apply text-5xl font-black lg:text-6xl;
}
h2 {
  @apply text-4xl lg:text-5xl;
}
h3 {
  @apply text-2xl lg:text-3xl;
}
h4 {
  @apply text-lg lg:text-xl;
}
.dotted-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  background-size: 4px 4px;
}

/* Animation classes */
.animate-marquee {
  animation: marquee 25s linear infinite;
}

.animate-marquee2 {
  animation: marquee2 25s linear infinite;
}

/* Keyframes */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
